---
import Layout from "src/layouts/Layout.astro";
---

<Layout title="404">
  <div class="w-full h-screen grid place-content-center">
    <article>
        <h1 class="text-3xl text-center font-bold">404 - Sin encontrar</h1>
        <img
        class="rounded-md"
        src="https://midu.dev/images/this-is-fine-404.gif"
        alt="This is fine image"
        />
    </article>
  </div>
</Layout>
