---
import Layout from "../layouts/Layout.astro";
import SectionPattern from "../components/SectionPattern.astro";
import { title, description } from "@data";
import { getTypesOfPatterns } from '../services/patterns.ts'

/*const response = await fetch('https://raw.githubusercontent.com/ignaccio7/PatronesDeDisenioJSTS/master/01_intro/clases.ts')
const data = await response.text()
console.log(data);*/

const typesOfPatterns = await getTypesOfPatterns()

---

<Layout title="Patrones de diseño.">
  <header class="p-4 border-b-2 border-b-slate-800">
	<h1
      class="text-5xl font-bold text-center flex flex-col gap-0 pb-4 text-gray-800"
    >
      <p class="">{title}</p>
      <span class="text-xl lowercase leading-[.5]">EN</span>
      <p class="text-gray-600">
        JAVASCRIPT <span class="text-black">y</span> TYPESCRIPT
      </p>
    </h1>
    <p class="max-w-[800px] text-sm m-auto text-pretty text-gray-700">{description}</p>
  </header>
  <main class="p-4 flex flex-col gap-8">    
    {
		typesOfPatterns.map(type => {
			return (<SectionPattern title={ `Patrones de tipo ${type}`} type={type} />)
		})
	}
  </main>
  <br><br><br><br><br><br><br><br><br><br>
</Layout>

<style></style>
